[submodule "vim-packs/lightline.vim"]
	path = vim-packs/lightline.vim
	url = https://github.com/itchyny/lightline.vim.git
[submodule "vim-packs/nerdtree"]
	path = vim-packs/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim-packs/rename.vim"]
	path = vim-packs/rename.vim
	url = https://github.com/danro/rename.vim.git
[submodule "vim-packs/vim-ansible-yaml"]
	path = vim-packs/vim-ansible-yaml
	url = git@github.com:chase/vim-ansible-yaml.git
[submodule "vim-packs/vim-gitgutter"]
	path = vim-packs/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "vim-packs/vim-multiple-cursors"]
	path = vim-packs/vim-multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors.git
[submodule "vim-packs/vim-repeat"]
	path = vim-packs/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "vim-packs/vim-surround"]
	path = vim-packs/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim-packs/vim-commentary"]
	path = vim-packs/vim-commentary
	url = git@github.com:tpope/vim-commentary.git
[submodule "vim-packs/vim-fugitive"]
	path = vim-packs/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule "vim-packs/ale"]
	path = vim-packs/ale
	url = https://github.com/w0rp/ale.git
[submodule "vim-packs/vim-svngutter"]
	path = vim-packs/vim-svngutter
	url = git@github.com:vim-scripts/vim-svngutter.git
[submodule "vim-packs/vim-go"]
	path = vim-packs/vim-go
	url = git@github.com:fatih/vim-go.git
[submodule "vim-packs/typescript-vim"]
	path = vim-packs/typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
